<header class="header">
    <img class="logo" src="/assets/imgs/logo.svg" alt="لكود وأتاي">
    <div class="menu">
        <a href="{{ '/' | prepend: site.baseurl }}" class="menu__item {% if page.url == '/' %}menu__item--active{% endif %}">لحلقات</a>
        <a href="{{ '/about' | prepend: site.baseurl }}" class="menu__item {% if page.url == '/about/' %}menu__item--active{% endif %}">معلومات</a>
        <a href="http://feeds.soundcloud.com/users/soundcloud:users:209087568/sounds.rss" target="_blank" class="menu__item">RSS</a>
    </div>
</header>